
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    padding: 1px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #dc143c;
}
a:hover {
    text-decoration: underline;
    color: #778899;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #616161;
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #616161;
}
p {
    font-size: 1.5em;
    line-height: 1.5em;
    color: :#000000;
}
.container {
    position: relative;
}

.footer {
   position:relative ; 
   color: #616161;
   border-top: 1px solid #dc143c;
   bottom: 0px;
   left:10px;
   font-size: 1em;
}
.footer ul li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 2em;
    padding: 1px;
    list-style: none;
    font-weight: bold;
}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }

