<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/cv">Portflio</a></li>"
</ul>
    </nav>
    
<div class="container">
  
  {{ content }}

</div>
    
<div class="footer">
  <p>This project is maintained by <a href="https://github.com/Neuroscitechie">Neuroscitechie</a></p>
  <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
   
  <ul class="contacts">
   <li><a href="mailto:neuroscitechie@gmail.com">email</a></li>
   <li><a href="https://twitter.com/neuroscitechie"</a>twitter</li>
   <li><a href="https://github.com/Neuroscitechie"</a>GitHub</li>
  </ul>
</div>
 
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    
  </body>

</html>
