<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
		        	<li><a href="/about/about.md">About</a></li>
	        		<li><a href="/portfolio/portfolio.md">Portfolio</a></li>
	        		<li><a href="/_posts">Blog</a></li>
	    		</ul>
		</nav>
			
		<div class="container">
			
			{{ content }}
		</div>
			
		<footer>
			<ul>
				<li><a href="mailto:neuroscitechie@gmail.com">email</a></li>
				<li><a href="https://github.com/neuroscitechie">github=@neuroscitechie</a></li>
			</ul>
	       </footer>
        </body>
</html>
