<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/cv">Portflio</a></li>
<li><a href="mailto:neuroscitechie@gmail.com">email</a></li> 
</ul>
    </nav>
    
<div class="container">
  
  {{ content }}

</div>
    
<div class="footer">
  <ul>
  <li><p>This project is maintained by <a href="https://github.com/Neuroscitechie">Neuroscitechie</a></p></li>
  <li><p><small>Hosted on GitHub Pages &mdash; <sub>Theme by <a href="https://github.com/orderedlist">orderedlist</sub></a></small></p></li>
  </ul>
</div>
<div class="icons">
  <ul>
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github"></i></a>
{% endif %}
    {% if site.medium_username %}
    <a href="https://medium.com/@{{ site.medium_username }}">
      <i class="fa fa-medium"></i></a>
{% endif %}
      {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter"></i></a>
{% endif %}
    {% if site.meetup_username %}
    <a href="https://meetup.com/{{ site.meetup_username }}">
      <i class="fa fa-meetup"></i></a>
{% endif %}
  </ul>
</div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </body>

</html>
